<div class='container'>
    <div class='row'>
        <div class='col-xs-12'>
            <h3>I'm in the AppComponent!</h3>
            <hr>
            <app-servers></app-servers> 
            <app-warning-alert></app-warning-alert>
            <app-success-alert></app-success-alert>
            <hr>
            <app-user></app-user>
            <hr>
            <app-details></app-details>
            <!-- <div app-servers></div> -->
            <!-- <div class='app-servers'></div> -->
            <p appBasicHighlight>style me with basic hightlight directive</p>
            <p appBetterHighlight [defaultColor]="'#EBF5FB'" highlightColor="orange">  style me with better hightlight directive</p>
        <app-directive-example></app-directive-example>
        </div>       
    </div>
</div>
